<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/styles/styles.css">
    <title>Document</title>
</head>

<body>

    <h1>FAÇA SUA DENUNCIA ANONIMAMENTE</h1>

    <form>
        <label>Titulo</label>
        <input type="text" name="Nome" id="Nome" placeholder="Digite o nome completo">
        <label>Denuncia</label>
        <textarea class="denunciaInput" placeholder="Descreva sua denúncia"></textarea>
        

        <button>
            <a href="#.html">Clique aqui para encaminhar sua denuncia </a>
        </button>
    </form>

    
</body>

</html>