<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li class="item">
        <label>Usuário</label>
        <button><a href="login.html">Suas Denúncias</a></button>
        <button><a href="login.html">suporte</a></button>
        <button><a href="login.html">Denunciar</a></button>
    </li>
</body>
</html>